# Virtual Environment
venv/
ENV/
.env

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# Testing
.pytest_cache/
tests/

# Project Specific
pahe_batcher.db
pahe_batcher.db-wal
pahe_batcher.db-shm
.pahe_staging_*.db
.pahe_staging_*.db-wal
.pahe_staging_*.db-shm
pahe_vault.db
downloads/
pb_*.ts

# IDEs
.vscode/
.idea/
